body {
    margin: 0;
    background-image: url(img/Pastel\ Earthy\ Clean\ Grid\ Photography\ Mood\ Board\ Photo\ Collage\ \(1\).png);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    font-family: "EB Garamond", serif;
    font-size: 18px;
    color: #ffffff;
    text-align: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    padding: 20px 10px;
    background-color: transparent;
    border: #000000;
    border-radius: 10px;
}
.logo {
    margin-bottom: 30px;
}
.logo img {
    width: 150px;
      height: 150px;
      border-radius: 50%; /* Faz a imagem ficar circular */
      object-fit: cover; /* Garante que a imagem seja cortada para preencher o espaço */
      border: 3px solid #8cd4cb; /* Borda com a cor característica do Instagram */
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

}
h1 {
    margin-bottom: 20px;
    color: rgb(0, 0, 0);
}

h2 {
    margin-bottom: 20px;
    font-size: 18px;
    color: #000000;
}

p {
    margin-bottom: 30px;
}
.contact-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.contact-item {
    background-color: #8e9aaf;
    border-radius: 10px;
    padding: 10px;
    color:  #000000;
    font-size: 18px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact-item img {
    margin-right: 20px;
    width: 30px;
}
.contact-item:hover {
    background-color: #efd3d7;
}
.icons {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 10px;
}
.icons img {
    width: 30px;
}

