body {
    margin: 0;
    font-family: "EB Garamond", serif;
    background-image: url(img/Pastel\ Earthy\ Clean\ Grid\ Photography\ Mood\ Board\ Photo\ Collage\ \(1\).png);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    padding: 20px 10px;
    background-color: #d3e0f7;
    border: #000000;
    border-radius: 20px;
}
.logo {
    margin-bottom: 30px;
}
.logo img {
    width: 150px;
      height: 150px;
      border-radius: 50%; /* Faz a imagem ficar circular */
      object-fit: cover; /* Garante que a imagem seja cortada para preencher o espaço */
      border: 3px solid #8cd4cb; /* Borda com a cor característica do Instagram */
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

}
.h1 {
    margin-bottom: 20px;
    background-color: rgb(0, 0, 0);

}
p {
    margin-bottom: 20px;
    color: #000000;
}
.contact-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.contact-item {
    background-color: #8e9aaf;
    border-radius: 10px;
    padding: 20px;
    color:  #000000;
    font-size: 18px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
}
.contact-item img {
    margin-right: 20px;
    width: 30px;
}
.contact-item:hover {
    background-color: #efd3d7;
}
.icons {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 10px;
}
.icons img {
    width: 30px;
}

@media screen and (max-width: 768px) {
    body {
        background-attachment: scroll; /* Remove o efeito de fundo fixo em telas pequenas */
    }

    .container {
        padding: 10px;
    }

    h1 {
        font-size: 24px;
    }

    p {
        font-size: 16px;
    }

    .contact-item {
        display: block;
        margin: 15px 0;
    }
}

/* Media query para smartphones menores (até 480px de largura) */
@media screen and (max-width: 480px) {
    .container {
        padding: 5px;
    }

    h1 {
        font-size: 20px;
    }

    p {
        font-size: 14px;
    }

    .logo img {
        width: 80%; /* Reduz a imagem logo em dispositivos menores */
    }
}
